@import 'header';
@import 'jumbotron';
@import 'footer';

body {
    background-color: #212529;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.home {
    margin: auto;
    width: 50%;
}